<div class="container-app">
  <div class="container-qr">
    <h1 class="h1">Crear enlace whatsapp y QR personalizado</h1>
    <div class="container-qr-data">
      <p>Texto a QR code :</p>

      <div class="colum-form">
        <div class="row-form">
          <div class="input-container-width">
            <label for="">Ancho Qr</label>
            <input
              type="number"
              [(ngModel)]="width"
              (ngModelChange)="onShowQrWhatsapp()"
            />
          </div>

          <div class="input-container">
            <label for="">Texto a QR</label>
            <input [(ngModel)]="textToQrSingle" (ngModelChange)="onShowQr()" />
          </div>
        </div>
      </div>
    </div>

    <div class="container-qr-data">
      <p>Crear QR code de whatsapp:</p>
      <div class="colum-form">
        <div class="row-form">
          <div class="input-container">
            <label for="">Numero whatsapp</label>
            <input
              type="text"
              [(ngModel)]="whatsappNumber"
              (ngModelChange)="onShowQrWhatsapp()"
            />
          </div>

          <div class="input-container">
            <label for="">Texto whatsapp</label>
            <input
              [(ngModel)]="whatsappMessage"
              (ngModelChange)="onShowQrWhatsapp()"
            />
          </div>
        </div>

        @if(showQrWhatsapp){

        <div class="row-form">
          <div class="container-whatsapp-link">
            <div>
              <label for="">Enlace whatsapp</label>
              <p #textToCopy>
                {{ textToQr }}
              </p>
            </div>
            <div class="container-btn-copy">
              <button
                class="btn btn-primary"
                title="Copiar enlace de whatsapp"
                (click)="copyToClipboard(textToCopy.textContent)"
              >
                <i class="bi bi-clipboard"></i>
              </button>
            </div>
          </div>
        </div>
        }
      </div>
    </div>

    <div class="container-qrs">
      @if(showQrWhatsapp){
      <div class="column-form">
        <h3>Texto whatsapp a qr</h3>
        <div class="row-form">
          <qrcode
            (qrCodeURL)="onChangeURL($event)"
            [qrdata]="textToQr"
            [width]="width"
            [errorCorrectionLevel]="'M'"
          ></qrcode>
        </div>
      </div>
      }

      <div class="container-btn">
        @if(showQrWhatsapp){
        <a [href]="qrCodeDownloadLink" class="btn btn-success" download="qrcode"
          >Descargar</a
        >
        }
        <button type="button" class="btn btn-danger" (click)="clearInputs()">
          Limpiar
        </button>
      </div>

      @if(showQr){
      <div class="column-form">
        <h3>Texto a QR</h3>
        <div class="row-form">
          <qrcode
            (qrCodeURL)="onChangeURL($event)"
            [qrdata]="textToQrSingle"
            [width]="width"
            [errorCorrectionLevel]="'M'"
          ></qrcode>
        </div>
      </div>
      }

      <div class="container-btn">
        @if(showQr){
        <a [href]="qrCodeDownloadLink" class="btn btn-success" download="qrcode"
          >Descargar</a
        >
        }
        <button type="button" class="btn btn-danger" (click)="clearInput()">
          Limpiar
        </button>
      </div>
    </div>
  </div>
</div>
